html {
    font-family: 'Courier New', sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    
  }

#dixit-phrase {
  color: rgb(255, 255, 255);
  font-style: italic;
  margin-right: 2em;
}