.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 250px; /* set margin top to 25% of the viewport width */
}

.card {
  width: 200px; /* set width to 20% of the viewport width */
  height: 250px; /* set height to 30% of the viewport width */
  margin: 2vw; /* set margin to 2% of the viewport width */
  box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.2),
              0 0.6vw 2vw 0 rgba(0, 0, 0, 0.19); /* set box shadow using vw units */
  border-radius: 1vw; /* set border radius to 1% of the viewport width */
  text-align: center;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  /* margin-top: 15vh; */
}

@media (max-width: 500px) {
  .card-container {
    width: 60vw;
    display: block;
    margin: 30vh auto 0; /* center the container horizontally and set top margin to 15vw */
  }
  .card {
    width: 40vw;
    height: 60vw;
    margin: 1vw auto; /* center the card horizontally */
  }
}

.card:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}


.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.counter-and-next-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin: 20px;
    padding: 10px;
  }


  .counter-and-next-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .counter {
    font-size: 18px;
    margin-right: 10px;
  }

  .next-button {
    display: inline-block;
  }

  .next-arrow {
    border: solid green;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 5px;
    animation: pulse 1s infinite;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes pulse {
    0% {
        transform: rotate(-45deg) scale(1);
        -webkit-transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.8);
        -webkit-transform: rotate(-45deg) scale(1.8s);
    }
    100% {
        transform: rotate(-45deg) scale(1);
        -webkit-transform: rotate(-45deg) scale(1);
    }
}


  .next-arrow:hover {
    filter: brightness(150%);
    transform: rotate(-45deg) scale(1.5);
    -webkit-transform: rotate(-45deg) scale(1.5);
    cursor: pointer;
  }


  .disabled {
    /* opacity: 0.5; */
    pointer-events: none;
    cursor: none;
    filter: none;
    animation: none;
  }

  .card.disabled {
    transform: none;
  }

  .next-arrow.disabled{
    border-color: grey;
    transform: rotate(-45deg) scale(1.);
    -webkit-transform: rotate(-45deg) scale(1.);
  }


  .sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1;
  }